<!doctype html>
<html lang="ru">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
              href="../static/bootstrap.min.css">

        <title>{{page_title}}</title>
        <link rel="icon" type="image/x-icon" href="../static/lg.png">
    </head>
    <body>

        <!-- Pagination -->
        <div class="mx-auto" style="padding: 25px; width: 500px;">
            <nav>
                <ul class="pagination">

                    {% if not previous_page %}
                        <li class="page-item disabled">
                            <span class="page-link">Назад</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{{previous_page|e}}">Назад</a>
                        </li>
                    {% endif %}

                    {% for number, page_link in pages_links.items() %}

                        {% if number == current_page_num %}
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">
                                    {{number|e}}
                                    <span class="sr-only">(current)</span>
                                </span>
                            </li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="{{page_link|e}}">{{number|e}}</a></li>
                        {% endif %}

                    {% endfor %}

                    {% if not next_page %}
                        <li class="page-item disabled">
                            <span class="page-link">Вперёд</span>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{{next_page|e}}">Вперёд</a></li>
                    {% endif %}

                </ul>
            </nav>
        </div>

        <!-- Two columns for book cards -->
        <div class="container">
            <div class="row">
                {% for book_pair in catalog %}
                    {% for book in book_pair %}
                        <!-- A book card -->
                        <div class="col">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                        <img class="card-img"
                                             src="{{book.image_path|urlencode}}"
                                             alt="{{book.title|e}}, читать, скачать txt, zip, jar">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">{{book.title|e}}</h5>
                                            <p class="card-text">{{book.author|e}}</p>
                                            <p>
                                                {% for genre in book.genres %}
                                                    <span class="badge badge-light">{{genre|e}}</span>
                                                {% endfor %}
                                            </p>
                                            <p><a href="{{book.book_path|urlencode}}" target="_blank" rel="noopener noreferrer">Читать</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="w-100"></div>
                {% endfor %}
            </div>
        </div>

        <script src="../static/jquery-3.5.1.slim.min.js"></script>
        <script src="../static/bootstrap.bundle.min.js"></script>

    </body>
</html>
